<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            
    <h3>Create a New Listing</h3> <br>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 ">
            <label for="title" class="form-label">Title</label><br>
            <input type="text" name="listing[title]" placeholder="Add a Catchy Title" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>

        </div> 

        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <input type="textarea" name="listing[description]" placeholder="Enter Description" class="form-control" required>
            <div class="invalid-feedback">Please enter a short valid description</div>

        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label><br>
            <input name="listing[image]" class="form-control" type="file" required>
            <!-- <div class="invalid-feedback">Image is required.</div> -->
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label><br>
                <input name="listing[price]" placeholder="10,000" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid price</div>
    
            </div>
    
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label><br>
                <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                <div class="invalid-feedback">Please enter the country name</div>
    
            </div>
            

        </div>
        <div class="mb-3 ">
            <label for="location" class="form-label">Location</label><br>
            <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control">
            <div class="invalid-feedback">Please enter a valid location</div>

        </div>
        
        
        <button class="btn btn-dark add-btn mt-2">Add</button>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>
</div>
    
</body>
